/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/03/2018, 19:55:55
    Author     : Lucas Alves
*/

.jumbotron {
    background-color: transparent;
}

.display-1 {text-align:center;color:#ff9900b7;}
.display-1 .fa {animation:fa-spin 5s infinite linear;}
.display-3 {text-align:center;color:#ff9900b7;}
.lower-case {text-align:center;}
