html {

  background-color: #ffe4e1;
}

body {
  font-size: 18px;
  color: #212529;
  font-family: 'Lora', 'Times New Roman', serif;
}

h1 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



div.container {

    top: 25%;
    text-align: center;
	position: absolute;
	width:100%;
     }
 

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}